<div class="addressContainer">
    <div class="add-title">
        <h2 class="primary">Address</h2>
        <mat-icon class="modalCancel" (click)="closeDialog()">cancel</mat-icon>
    </div>
    <div>
        <mat-form-field appearance="fill" class="FullWidth">
            <mat-label>Line 1</mat-label>
            <input matInput placeholder="Line 1" [(ngModel)]="data.line1">
        </mat-form-field>

        <mat-form-field appearance="fill" class="FullWidth">
            <mat-label>Line 2</mat-label>
            <input matInput placeholder="Line 2" [(ngModel)]="data.line2">
        </mat-form-field>

        <mat-form-field appearance="fill" class="FullWidth">
            <mat-label>Line 3</mat-label>
            <input matInput placeholder="Line 3" [(ngModel)]="data.line3">
        </mat-form-field>

        <mat-form-field appearance="fill" class="FullWidth">
            <mat-label>County / State</mat-label>
            <input matInput placeholder="County / State" [(ngModel)]="data.state">
        </mat-form-field>

        <mat-form-field appearance="fill" class="FullWidth">
            <mat-label>Post code / Zip</mat-label>
            <input matInput placeholder="Post code / Zip" [(ngModel)]="data.zip">
        </mat-form-field>

        <mat-form-field appearance="fill" class="FullWidth">
            <mat-label>Country</mat-label>
            <!-- [(value)]="selectedCountry" -->
            <mat-select [(ngModel)]="data.country" (selectionChange)="countryChange($event)" class=""
                placeholder="United Kingdom (drop down)">
                <mat-option *ngFor="let country of countryList" [value]="country">{{country}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="locationDes">
            <p>For plotting on the map, we will try to automatically set the latitude and longitude from Google, but
                you can override them manually.</p>
        </div>

        <div class="location">
            <mat-form-field appearance="fill" class="locationInput">
                <mat-label>Latitude</mat-label>
                <input matInput placeholder="Latitude" [(ngModel)]="data.latitude">
            </mat-form-field>

            <mat-form-field appearance="fill" class="locationInput">
                <mat-label>Longitude</mat-label>
                <input matInput placeholder="Longitude" [(ngModel)]="data.longitude">
            </mat-form-field>
        </div>

        <mat-checkbox class="overrideEnable" (change)="setAll($event.checked)">manual override enabled</mat-checkbox>

        <div class="btn-sec">
            <button mat-raised-button color="" class="updateBtn" [mat-dialog-close]="data">Update</button>
        </div>
    </div>
</div>