<div class="Container">
    <div class="Namefield">
        <h2 class="containerTitle">Name/Descritpion</h2>
        <p class="containerText">Warning editing the facility name may really confuse your active users please think
            twice before editing the
            name and location of your facility.</p>
        <div class="InputForm">
            <mat-form-field appearance="fill" class="FullWidth">
                <input matInput class="" placeholder="Facility Name" (input)="facilityName($event.target.value)">
            </mat-form-field>
        </div>
    </div>
    <div class="Addressfield">
        <h2 class="containerTitle">Address</h2>
        <div class="Flex">
            <p class="containerText">Edocuments Ltd, 32 Waterhouse Business centre, Chelmsford, Essex, CM ...</p>
            <mat-icon class="modalBtn" (click)="openAddressModal()">play_circle_outline
            </mat-icon>
        </div>
    </div>
    <div class="Sitefield">
        <h2 class="containerTitle">Site</h2>
        <p class="containerText">This facility belongs to this site :</p>
        <div class="InputForm">
            <mat-form-field appearance="fill" class="FullWidth">
                <mat-select [(value)]="selected" (selectionChange)="siteChange($event)"
                    placeholder="Site (please select)">
                    <mat-option value="Upper School">Upper School</mat-option>
                    <mat-option value="Lower School">Lower School</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="Attributes">
        <div>
            <h2 class="containerTitle">Attributes</h2>
            <p class="containerText">This dynamic list is from</p>

            <!-- <div #container></div> -->
            <div class="Flex" *ngFor="let att of attributes">
                <div class="FullWidth">
                    <p class="attText">{{ att }}</p>
                </div>
                <button mat-raised-button color="warn" class="pageBtn">Delete</button>
            </div>
        </div>
        <button mat-icon-button matTooltip="Attributes" (click)=selectLan.open()>

            <mat-icon [ngStyle]="{'color': '#707070'}">add_circle</mat-icon>

            <mat-select #selectLan [(value)]="selectedAtt" (selectionChange)="attChange($event)" class="attSelect">
                <mat-option *ngFor="let topping of attributeList" [value]="topping['label']">{{topping['label']}}
                </mat-option>
            </mat-select>

        </button>
    </div>
    <div class="Tagsfield">
        <h2 class="containerTitle">Tags</h2>
        <mat-form-field appearance="">
            <mat-label>Tags</mat-label>
            <mat-select [formControl]="toppingsControl" multiple (selectionChange)="tagChange($event)">

                <mat-select-trigger>
                    <mat-chip-list>
                        <mat-chip *ngFor="let topping of toppingsControl.value" [removable]="true"
                            (removed)="onToppingRemoved(topping)">
                            {{ topping }}
                            <mat-icon matChipRemove [ngStyle]="{'color': '#707070'}">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </mat-select-trigger>

                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}
                </mat-option>

            </mat-select>
        </mat-form-field>

        <br />
        <!-- {{ toppingsControl.value | json }} -->
    </div>
    <div class="Imagesfield">
        <h2 class="containerTitle">Images</h2>
        <div class="Flex">
            <p class="containerText">These images are used on the facilities overview to make identifying a facility
                easier.</p>
            <mat-icon class="modalBtn" [ngStyle]="{'color': '#707070'}" (click)="openImageModal()">play_circle_outline
            </mat-icon>
        </div>
    </div>
    <button mat-raised-button color="" class="updateBtn">Update</button>
</div>